.cart_header {
    overflow: hidden;
    margin: 30px auto 10px;
    width: 1200px;
    height: auto;
}
.cart_logo {
    width: 414px;
    height: 44px;
    background: url('../img/cart_img.png') no-repeat -15px -17px;
}
.fl {
    float: left;
    display: inline;
}
.cart_step.step1 {
    background-position: -15px -89px;
}
.cart_step {
    margin: 15px 2px 0;
    width: 700px;
    height: 31px;
    background: url('../img/cart_img.png') no-repeat;
}
.fr {
    float: right;
    display: inline;
}
.wrap {
    width: 1200px;
    height: auto;
    min-height: 430px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 0;
    font: 12px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif;
}
.warm_tip {
    margin-bottom: -8px;
    width: 429px;
    height: 28px;
    background: url(../img/warm.png) no-repeat;
    text-indent: 7px;
    font-family: '宋体';
    line-height: 25px;
}
.warm_tip em {
    color: #fe0032;
    font-style: normal;
}
.shopping_nr {
    width: 1198px;
    float: left;
    margin: 10px 0 0 0;
    padding: 0 0 10px;
}
.shopping_nr .shopping_nr_title {
    width: 1198px;
    height: 36px;
    line-height: 36px;
    background: url(../img/cartbar2.png) no-repeat;
    float: left;
}
.shopping_nr .shopping_nr_title .shop_qx {
    float: left;
    font-family: 'Microsoft YaHei';
    text-align: center;
    font-size: 13px;
}
.shopping_car_bottom {
    width: 1196px;
    float: left;
    min-height: 45px;
    height: auto;
    line-height: 26px;
    border: solid 1px #ddd;
    border-top: none;
}
.shopping_car_arrow {
    width: 502px;
    height: 108px;
    float: none;
    margin: 20px auto;
    overflow: hidden;
}
.car_arrow {
    background: url('../img/gouwuc.png') no-repeat 0 0;
    width: 72px;
    height: 89px;
    float: left;
}
.car_arrow_txt {
    float: left;
    width: 80%;
    margin: 25px 0 0 20px;
}
.car_arrow_warn {
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    color: #333333;
}
.go_shopping {
    color: #c80a28;
    font-size: 14px;
    text-decoration: underline;
}
.div_deleted {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    margin: 30px 0;
}
.div_deleted > h1 {
    display: block;
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;
}
/*购物车下方*/
.shopping_order_title {
    width: 100%;
    height: 35px;
    background: #d8d7d7;
    text-indent: 15px;
    font-size: 16px;
    line-height: 35px;
    position: relative;
}
.shopping_order_title span {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}
.shopping_order_title a {
    float: left;
    display: block;
    width: 140px;
    height: 26px;
    background: #8a8a8a;
    color: #fff;
    text-align: center;
    text-indent: 0;
    font-size: 14px;
    line-height: 26px;
}
.shopping_order_title a.current {
    background: #FFF;
    color: #8a8a8a;
}
#slides {
    position: relative;
    padding: 10px 40px;
    width: 1118px;
    border: 1px solid #DDD;
}
.slides_container {
    width: 100%;
}
.slides_container div.slide {
    display: block;
    width: 1220px;
    height: 240px;
}
.item {
    float: left;
    margin: 10px 0;
    margin-right: 7px;
    width: 180px;
    height: auto;
}
.item a {
    max-height: 180px;
    overflow: hidden;
    height: auto;
    display: block;
}
.item img {
    width: 100%;
}
.item p {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 22px;
    font: 12px/22px '微软雅黑';
}
.item .price {
    color: #ca0a2a;
    font-size: 14px;
    line-height: 20px;
}

/****************购物车动态变化区域**********************/













